*{
    margin: 0;
    padding: 0;
}
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hleft{
    font-size: 28px;
    font-weight: bolder;
    color: #0D1321;
}
.hbtn{
    width: 244px;
    height: 57px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 750px;
    margin: 50px 0px 50px 0px;
}
.banbtn{
    width: 244px;
    height: 65px;
    color: white;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    /* margin-bottom: 50px; */
}
.banimg{
    width: 240px;
    height: 240px;
}
.banner2{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
    margin: 32px 0px 24px 0px;
    text-align: center;
}
.banner3{
    color: #0D1321;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 32px;
    text-align: center;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/Hero-bg.png);
    padding: 30px 0px 50px 0px;
}
.wwd1{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
.wwd2{
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    margin-top: 25px;
}
.wwd{
    margin: 80px 0px 50px 0px;
    text-align: center;
}
.box11{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
.box12{
    color: #0D1321;
    font-size: 16px;
    font-weight: normal;
    margin: 16px 0px 32px 0px;
}
.boxbtn{
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    border: 1px solid black;
}
.box1img{
    width: 275px;
    height: 240px;
}
.box1{
    max-width: 950px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background: linear-gradient(to right, white -150%, rgba(13, 19, 33, 0.001) 100%);
    border-radius: 16px;
    /* background-color: red; */
    margin-bottom: 32px;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.2);
    border-radius: 8px;
    padding: 0px 100px 50px 100px;
}
.middle-middle{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.ins3{
    border-radius: 10px;
}
.ins2{
    font-size: 16px;
    text-align: center;
    margin: 30px 0px 80px 0px;
}
.ins1{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.ins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 10px 0px;
}

.target1{
    color: #0D1321;
}
.threebox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 150px;
}
.threeboximg{
    width: 56px;
    height: 56px;
}
.threebox1{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
}
.threebox2{
    color: #0D1321;
    margin: 20px 0px 20px 0px;
}
.threebox3{
    color: #0D1321;
    font-weight: bold;
    text-decoration: underline;
}
.boxone{
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: rgba(255, 76, 30, 0.3) ;
    border-radius: 16px;
}

.anotherthreebox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxonce{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 0.05px solid #a4abb8;
    border-radius: 8px;
    width: 1050px;
    margin: 0px 50px 30px 50px;
    padding: 30px 20px;
}
.s1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.s2{
    color: white;
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.s3text{
    width: 550px;
    height: 60px;
    color: rgba(13, 19, 33, 0.15);
    border: none;
    border-radius: 10px;
}
.s3btn{
    height: 60px;
    width: 120px;
    background-color: white;
    color: #0D1321;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.s3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.support{
    background-image: url(assets/handshake.jpg);
    padding: 70px;
    width: 1050px;
    border-radius: 10px;
    
}
.support{
    position: relative;
    background-color: rgb(168, 168, 168);
    z-index: 1;
}
.supportd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 100px 0px;
}

.footer{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    background-color: rgba(13, 19, 33, 0.3);
}
.footerleft{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}

.footerright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.dn{
    display: none;
}

@media screen and (max-width:992px) {
    .header{
        gap: 300px;
    }
    .hleft{
        font-size: 20px;
    }
    .hbtn{
        width: 162px;
        height: 38px;
        font-size: 10px;
    }
    .banimg{
        width: 150px;
        height: 150px;
    }
    .banner2{
        font-size: 20px;
    }
    .banner3{
        font-size: 12px;
        padding: 0px 20px;
    }
    .banbtn{
        width: 163px;
        height: 43px;
        font-size: 15px;
    }
    .wwd1{
        font-size: 16px;
    }
    .wwd2{
        font-size: 12px;
        padding: 0px 8px;
    }
    .box11{
        font-size: 16px;
    }
    .box12{
        font-size: 10px;
    }
    .boxbtn{
        width: 114px;
        height: 32px;
        font-size: 12px;
    }
    .box1img{
        width: 184px;
        height: 160px;
    }
    .box1{
        gap: 20px;
    }
    .middle-middle{
        margin: 0 30px;
    }
}